<div *ngIf="tableReady" [@fadeInAnimation]>
    <!-- <div class="ms-Grid">
            <div class="ms-Grid-row" style="padding:10px 0px">
                <div class="ms-Grid-col ms-u-sm1">
                    <span class="ms-font-xl ms-fontWeight-semibold">{{title}}</span>
                </div>
                <div class="ms-Grid-col ms-u-sm2">
                    <i class="ms-Icon ms-Icon--Add" style="margin-top:5px" (click)="addMaterialRow();"></i>
                    <i class="ms-Icon ms-Icon--Delete" style="margin-top:5px" (click)="deleteMaterialRow();"></i> 
                </div>
                <div class="ms-Grid-col ms-u-sm9">
                </div>
            </div>    
        </div> -->
        <div class="ms-Grid"  class="header-row">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm2 ">
                        <div class="ms-Grid-row">
                            <of-icon-panel [contentName]="'Material'" class="info-icon"></of-icon-panel>
                            <span class="ms-font-xl ms-fontWeight-semibold title" (click)="toggleMenu()">
                                {{title}}    
                            </span>
                            <i *ngIf="collapsed" class="ms-Icon ms-Icon--ChevronDownSmall action-icon" (click)="toggleMenu()" aria-hidden="true"></i>
                            <i *ngIf="!collapsed" class="ms-Icon ms-Icon--ChevronUpSmall action-icon" (click)="toggleMenu()" aria-hidden="true"></i>
                            <i class="ms-Icon ms-Icon--Add action-icon" (click)="addMaterialRow();"></i>
                            <i class="ms-Icon ms-Icon--Delete action-icon" (click)="deleteMaterialRow();"></i> 
                        </div>
                    </div>
                    <div class="ms-Grid-col ms-u-sm10">
                    </div>
                </div>    
            </div>        
    <ag-grid-angular #agGrid10
                            [style.height.px]="cmTableHeight" 
                            [style.width.px]="cmTableWidth"
                            class="ag-fresh agGridTable" 
                            [gridOptions]="cmGridOptions"
                            [@slideInOut]="isCollapsed()">
    </ag-grid-angular>
    <ag-grid-angular #agGrid11
                            [style.height.px]="mattTableHeight" 
                            [style.width.px]="mattTableWidth"
                            class="ag-fresh agGridTable" 
                            [gridOptions]="mattGridOptions"
                            [@slideInOut]="isCollapsed()">
    </ag-grid-angular>
</div>

<div #abc></div>