<div class="ms-Grid-row">
  <div class="ms-Grid-col ms-u-sm10">
    <div class="messageContainer">
      <span *ngIf='errorStatus' class='message' (click)="showDialog($event)">
          errors detected
        </span>
      <span *ngIf='errorStatus'>
          &nbsp;<img [src]='errorImageUrl' (click)="showDialog($event)" class="handHover">
      </span>
      &nbsp;&nbsp;&nbsp;
      <span class='message' (click)="showDialog($event)">
        {{message}}
      </span>
    </div>
  </div>
  <div class="ms-Grid-col ms-u-sm2">
    <div *ngIf='icon == "loading"'>
      <of-spinner></of-spinner>
    </div>
    <div *ngIf='icon== "complete"'>
      <img [src]='successImageUrl' (click)="showDialog($event)" class="handHover">
    </div>
    <div *ngIf='icon=="none"'>
        
    </div>    
</div>


<notification-dialog></notification-dialog>