<div class="ms-MessageBar {{messagebartype}} ms-u-slideDownIn20">
  <div class="ms-MessageBar-content">
    <div class="ms-MessageBar-icon">
      <i class="ms-Icon {{icontype}}"></i>
    </div>
    <div class="ms-MessageBar-text">
      {{description}}
      <br />
      <a [routerLink]="[urllink]" class="ms-Link">{{urltext}}</a> 
    </div>
  </div>
</div>


<!--Default  - grey background - info

<div class="ms-MessageBar">
  <div class="ms-MessageBar-content">
    <div class="ms-MessageBar-icon">
      <i class="ms-Icon ms-Icon--Info"></i>
    </div>
    <div class="ms-MessageBar-text">
      Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
      <br />
      <a href="#" class="ms-Link">Hyperlink string</a> 
    </div>
  </div>
</div>

green success

<div class="ms-MessageBar ms-MessageBar--success">
  <div class="ms-MessageBar-content">
    <div class="ms-MessageBar-icon">
      <i class="ms-Icon ms-Icon--Completed"></i>
    </div>
    <div class="ms-MessageBar-text">
      Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
      <br />
      <a href="#" class="ms-Link">Hyperlink string</a> 
    </div>
  </div>
</div>

error messagebar

<div class="ms-MessageBar ms-MessageBar--error">
  <div class="ms-MessageBar-content">
    <div class="ms-MessageBar-icon">
      <i class="ms-Icon ms-Icon--ErrorBadge"></i>
    </div>
    <div class="ms-MessageBar-text">
      Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
      <br />
      <a href="#" class="ms-Link">Hyperlink string</a> 
    </div>
  </div>
</div>

blocked messagebar

<div class="ms-MessageBar ms-MessageBar--blocked">
  <div class="ms-MessageBar-content">
    <div class="ms-MessageBar-icon">
      <i class="ms-Icon ms-Icon--Blocked"></i>
    </div>
    <div class="ms-MessageBar-text">
      Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
      <br />
      <a href="#" class="ms-Link">Hyperlink string</a> 
    </div>
  </div>
</div>

Warning messagebar

<div class="ms-MessageBar ms-MessageBar--warning">
  <div class="ms-MessageBar-content">
    <div class="ms-MessageBar-icon">
      <i class="ms-Icon ms-Icon--Info"></i>
    </div>
    <div class="ms-MessageBar-text">
      Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
      <br />
      <a href="#" class="ms-Link">Hyperlink string</a> 
    </div>
  </div>
</div>

Severe warning messagebar

<div class="ms-MessageBar ms-MessageBar--severeWarning">
  <div class="ms-MessageBar-content">
    <div class="ms-MessageBar-icon">
      <i class="ms-Icon ms-Icon--Warning"></i>
    </div>
    <div class="ms-MessageBar-text">
      Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
      <br />
      <a href="#" class="ms-Link">Hyperlink string</a> 
    </div>
  </div>
</div>-->

