<div class="ms-Grid">
  <div class="ms-Grid-row"><br></div>  
  <div class="ms-Grid-row">

  
    <div class="ms-Grid-col ms-u-sm4 ms-u-md5 ms-u-lg3">
      <of-toggle [innerlabel]="'Display Verbose'" 
                [id]="'verbosetoggle'" 
                [value]="false" 
                (toggleEvent)='showVerbose($event)' 
                [disable]='false'></of-toggle>
     </div>

    <div class="ms-Grid-col ms-u-sm1 ms-u-md1 ms-u-lg1"></div>
    <div class="ms-Grid-col ms-u-sm2 ms-u-md2 ms-u-lg1">
        Type
    </div>

    <div class="ms-Grid-col ms-u-sm3 ms-u-md3 ms-u-lg2">
        <of-dropdown [innerlabel]="''" 
                        [id]="'displayType'" 
                        [disable]='false' 
                        [options]= "logTypeOptions" 
                        [defaultValue]='logTypeDefaultValue'
                        (choiceSelectedEvent)='filterType($event)'></of-dropdown>
    </div>
    
    <div class="ms-Grid-col ms-u-sm1 ms-u-md1 ms-u-lg1"></div>
      
    <div class="ms-Grid-col ms-u-sm2 ms-u-md2 ms-u-lg2">
        <of-commandbutton [label]='commandButtonLabel' [list]='commandButtonValues' (buttonClicked)='commandButtonClick($event)'></of-commandbutton>
    </div>
</div>


  <div class="ms-Grid-row">
   <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
    <div class="container">
            <table class="table table-hover table-sm">
                <tr>
                    <th>ID</th>
                    <th>type</th>
                    <th>description</th>
                    <th>timestamp</th>
                    <th>status</th>
                </tr>
                <tr *ngFor= "let log of pagedItems" [ngClass]="{'table-danger': log.Type=='error'}">
                    <td scope="row">{{log.ItemId}}</td>
                    <td>{{log.Type}}</td>
                    <td>{{log.Description}}</td>
                    <td>{{log.Timestamp | date:'medium' }}</td>
                    <td>{{log.State}}</td>
                </tr>
            </table>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
            <a (click)="setPage(1)" class="page-link">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
        </li>
    </ul>
   </div>
  </div> 
 </div>
</div>