<div *ngIf="tableReady" [@fadeInAnimation]> 
        <div class="ms-Grid"  class="header-row">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm3 ">
                        <div class="ms-Grid-row">
                            <of-icon-panel [contentName]="'Total'" class="info-icon"></of-icon-panel>
                            <span class="ms-font-xl ms-fontWeight-semibold title" (click)="toggleMenu()">
                                {{title}}    
                            </span>
                            <i *ngIf="collapsed" class="ms-Icon ms-Icon--ChevronDownSmall action-icon" (click)="toggleMenu()" aria-hidden="true"></i>
                            <i *ngIf="!collapsed" class="ms-Icon ms-Icon--ChevronUpSmall action-icon" (click)="toggleMenu()" aria-hidden="true"></i> 
                        </div>
                    </div>
                    <div class="ms-Grid-col ms-u-sm9">
                    </div>
                </div>    
            </div>

    <ag-grid-angular #agGrid12
                            [style.height.px]="tTableHeight" 
                            [style.width.px]="tTableWidth"
                            class="ag-fresh agGridTable"  
                            [gridOptions]="tGridOptions"
                            [@slideInOut]="isCollapsed()">
    </ag-grid-angular>
</div>