Scripts
<div class="row">
    <input type="button" id="getHealthReport" (click)="getHealthReport()" value="Get Health Report" />
    <input type="button" id="actionHealthReport" (click)="actionHealthReport()" value="Action Health Report" />
    <input type="button" id="getPermissions" (click)="getPermissions()" value="Get Permissions" />
    <input type="button" id="checkSettings" (click)="checkSettings()" value="Check Settings" />
    <input type="button" id="initProvisioner" (click)="initProvisioner()" value="run provisioner script" />
</div>

<div class="row">
    <input type="button" id="getHealthReport" (click)="showHealthReport()" value="show health report" />
    <input type="button" id="getHealthReport" (click)="showResourceData()" value="show cached resource data" />
    <input type="button" id="getHealthReport" (click)="showMaterialData()" value="show cached material data" />
    <input type="button" id="getHealthReport" (click)="showTotalsData()" value="show cached totals data" />
</div>

<div class="row">
    <input type="button" id="initApplication" (click)="initApp()" value="run init app script" />
</div>

Application Data
<div class="row">
    <input type="button" id="saveAppData" (click)="saveAppData()" value="Save App data" />
    <input type="button" id="loadAppData" (click)="loadAppData()" value="Load App data" />
</div>

<div class="row well" *ngFor = "let log of logs">
    <api-logger>
        <div class="description">{{log}}</div>
    </api-logger>
</div>