<div class="ms-font-xl" style="padding-bottom:10px;">Settings Home</div>

<div class="ms-Grid">
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg2">
        Set Year
    </div>
    <div class="ms-Grid-col ms-u-sm7 ms-u-md5 ms-u-lg2">
      <of-dropdown [innerlabel]="" 
                  [id]="'currentYearToggle'" 
                  [disable]='false' 
                  [options]= "years" 
                  [defaultValue]='selectedYear'
                  (choiceSelectedEvent)='yearSelect($event)'></of-dropdown>
    <br>
    </div>

  </div>
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm7 ms-u-md5 ms-u-lg2">
      <of-toggle [innerlabel]="'Auto Save'" 
                [id]="'autoSaveToggle'" 
                [value]="autoSaveValue" 
                (toggleEvent)='autoSaveSelect($event)' 
                [disable]='false'></of-toggle>
    </div>
  </div>
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm7 ms-u-md5 ms-u-lg2">
      <of-toggle [innerlabel]="'SharePoint Mode'" 
                [id]="'sharePointModeToggle'" 
                [value]="sharePointModeValue" 
                (toggleEvent)='sharePointModeSelect($event)' 
                [disable]='false'></of-toggle>
    </div>
  </div>
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm7 ms-u-md5 ms-u-lg2">
      <of-toggle [innerlabel]="'Persist Logs'" 
                [id]="'persistlogs'" 
                [value]="persistLogsValue" 
                (toggleEvent)='persistLogsSelect($event)' 
                [disable]='false'></of-toggle>
    </div>
  </div>
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm7 ms-u-md5 ms-u-lg2">
      <of-toggle [innerlabel]="'Verbose Logging'" 
                [id]="'verboseLogs'" 
                [value]="verboseLogsValue" 
                (toggleEvent)='verboseLogsSelect($event)' 
                [disable]='!persistLogsValue'></of-toggle>
    </div>
  </div>
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm7 ms-u-md5 ms-u-lg2">
      <of-toggle [innerlabel]="'Run Health Report on Start'" 
                [id]="'autocheck'" 
                [value]="listAutoCheckValue" 
                (toggleEvent)='listAutoCheckSelect($event)' 
                [disable]='false'></of-toggle>
    </div>
  </div>
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg2">
        Travel and Subsistence Weighting
    </div>
    <div class="ms-Grid-col ms-u-sm7 ms-u-md5 ms-u-lg2" #tsweighting>
    <of-textfield [innerlabel]="'Travel and Subsistence Weighting'" [id]="'tsWeighting'" (textEntered)='tsWeightingSet($event)' [defaultValue]="tsWeightingValue"></of-textfield>
    </div>
  </div>

</div>




