<div *ngIf="showToolbar" class="toolbar" [@fadeInAnimation]>
    <div class="ms-CommandButton ms-CommandButton--noLabel" *ngIf='showSave'>
      <button class="ms-CommandButton-button toolbarButton" (click)="saveData($event)">
        <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Save"></i></span> 
        <span class="ms-CommandButton-label">Save</span> 
      </button>
    </div>

    <div class="ms-CommandButton ms-CommandButton--noLabel">
      <button class="ms-CommandButton-button toolbarButton" (click)="undoData($event)">
        <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--ReplyMirrored"></i></span> 
        <span class="ms-CommandButton-label">Undo</span> 
      </button>
    </div>
    
    <div class="ms-CommandButton ms-CommandButton--noLabel">
      <button class="ms-CommandButton-button toolbarButton" (click)="redoData($event)">
        <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Reply"></i></span> 
        <span class="ms-CommandButton-label">Redo</span> 
      </button>
    </div>    

    <div class="ms-CommandButton ms-CommandButton--noLabel">
      <button class="ms-CommandButton-button toolbarButton" (click)='refreshData($event)'>
        <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Refresh"></i></span> 
        <span class="ms-CommandButton-label">Refresh</span> 
      </button>
    </div>
</div>