<ul class="sidebar-nav">
    <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['settings'] }} ]">Main</a>
    </li>
    <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['workdays'] }} ]">Work Days</a>
    </li>    
    <!--<li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['provision'] }} ]">Provisioner</a>
    </li>
    <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['reset'] }} ]">Reset</a>
    </li>-->
    <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['logger'] }} ]">Logs</a>
    </li>
    <!--<li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['map'] }} ]">Mapping</a>
    </li> -->
    <!--<li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['list'] }} ]">Manage Lists</a>
    </li>-->
    <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['lookandfeel'] }} ]">Look and Feel</a>
    </li>
    <!--<li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['resourcelist'] }} ]">Resource List</a>
    </li>
    <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['materialslist'] }} ]">Materials List</a>
    </li>   
    <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['totalslist'] }} ]">Totals List</a>
    </li>
    <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['settingslist'] }} ]">Settings List</a>
    </li>-->
    <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['userpermissions'] }} ]">User Permissions</a>
    </li>   
    <!--<li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['scripts'] }} ]">Scripts</a>
    </li>                            -->
     <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['listmanager'] }} ]">List Manager</a>
    </li> 
     <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['administration'] }} ]">Administration</a>
    </li>
     <li>
        <a [routerLink]="['/settings', 
            {outlets: { settingsContent: ['test'] }} ]">Experimental Components</a>
    </li>         
</ul>