        <div class="ms-Dialog ms-Dialog--close dialog-container">
                <button class="ms-Dialog-button ms-Dialog-buttonClose">
                <i class="ms-Icon ms-Icon--Cancel"></i>
                </button>
                <div class="ms-Dialog-title">Transactions</div>
                <div class="ms-Dialog-content dialog-body">
                <!-- <div class="ms-CheckBox">
                    <input tabindex="-1" type="checkbox" class="ms-CheckBox-input">
                    <label role="checkbox" class="ms-CheckBox-field" tabindex="0" aria-checked="false" name="checkboxa">
                    <span class="ms-Label">Option1</span> 
                    </label>
                </div> -->
                <table class="ms-font-s ms-fontWeight-semibold">
                    <tr>
                        <th>Transaction ID</th>
                        <th>Time</th>
                        <th>Report Heading</th>
                        <th>Report Result</th>
                    </tr>
                    <tr *ngFor="let noti of notifications" class="ms-font-s">
                        <td class="ms-fontSize-mi">{{noti.id}}</td>
                        <td>{{noti.timestamp}}</td>
                        <td>{{noti.reportHeading}}</td>
                        <td>{{noti.reportResult}}</td>
                    </tr>
                </table>
                <div class="ms-Dialog-actions">
                <button class="ms-Button ms-Dialog-action ms-Button--primary">
                    <span class="ms-Button-label" >Close</span> 
                </button>
                </div>
            </div>
            <!-- <button class="ms-Button docs-Dialog-button" (click)="openDialog($event)">Open Dialog</button>
            <label class="docs-Dialog-label"></label> -->
