<div *ngIf="tableReady" [@fadeInAnimation]> 
    <ag-grid-angular #agGrid1   [style.height.px]="wdTableHeight" 
                                [style.width.px]="wdTableWidth" 
                                class="ag-fresh" 
                [gridOptions]="wdGridOptions">
    </ag-grid-angular>

    <div class="ms-Grid">
        <div class="ms-Grid-row" style="padding:10px 0px">
            <div class="ms-Grid-col ms-u-sm1">
                <span class="ms-font-xl ms-fontWeight-semibold">{{title}}</span>
            </div>
            <div class="ms-Grid-col ms-u-sm2">
                <i class="ms-Icon ms-Icon--Add" style="margin-top:5px" (click)="addResourceRow();"></i>
                <i class="ms-Icon ms-Icon--Delete" style="margin-top:5px" (click)="deleteResourceRow();"></i> 
            </div>
            <div class="ms-Grid-col ms-u-sm9">
            </div>
        </div>    
    </div>

    <ag-grid-angular #agGrid2 style="overflow: hidden;" 
                            [style.height.px]="puTableHeight" 
                            [style.width.px]="puTableWidth"
                            class="ag-fresh" 
                            [gridOptions]="puGridOptions">
    </ag-grid-angular>
    <ag-grid-angular #agGrid3 style="overflow: hidden;" 
                            [style.height.px]="ahTableHeight" 
                            [style.width.px]="ahTableWidth"
                            class="ag-fresh"  
                [gridOptions]="ahGridOptions">
    </ag-grid-angular>
    <ag-grid-angular #agGrid4 style="overflow: hidden;" 
                            [style.height.px]="prTableHeight" 
                            [style.width.px]="prTableWidth"
                            class="ag-fresh"  
                            [gridOptions]="prGridOptions">
    </ag-grid-angular>
    <ag-grid-angular #agGrid5 style="overflow: hidden;" 
                            [style.height.px]="prtTableHeight" 
                            [style.width.px]="prtTableWidth"
                            class="ag-fresh" 
                            [gridOptions]="prtGridOptions">
    </ag-grid-angular> 

</div>