<div *ngIf="tableReady" [@fadeInAnimation]> 
    <ag-grid-angular #agGrid1   [style.height.px]="wdTableHeight" 
                                [style.width.px]="wdTableWidth" 
                                class="ag-fresh" 
                [gridOptions]="wdGridOptions">
    </ag-grid-angular>

    <div class="ms-Grid"  class="header-row">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm3 ">
                <div class="ms-Grid-row">
                    <of-icon-panel [contentName]="'Resource'" class="info-icon"></of-icon-panel>
                    <span class="ms-font-xl ms-fontWeight-semibold title" (click)="toggleMenu()">
                        {{title}}    
                    </span>
                    <i *ngIf="collapsed" class="ms-Icon ms-Icon--ChevronDownSmall action-icon" (click)="toggleMenu()" aria-hidden="true"></i>
                    <i *ngIf="!collapsed" class="ms-Icon ms-Icon--ChevronUpSmall action-icon" (click)="toggleMenu()" aria-hidden="true"></i>
                    <i class="ms-Icon ms-Icon--Add action-icon" (click)="addResourceRow();"></i>
                    <i class="ms-Icon ms-Icon--Delete action-icon" (click)="deleteResourceRow();"></i> 
                </div>
            </div>
            <div class="ms-Grid-col ms-u-sm9">
            </div>
        </div>    
    </div>

    <ag-grid-angular #agGrid2  
                            [style.height.px]="puTableHeight" 
                            [style.width.px]="puTableWidth"
                            class="ag-fresh agGridTable" 
                            [gridOptions]="puGridOptions"
                            [@slideInOut]="isCollapsed()">
    </ag-grid-angular>
    <ag-grid-angular #agGrid3
                            [style.height.px]="ahTableHeight" 
                            [style.width.px]="ahTableWidth"
                            class="ag-fresh agGridTable"  
                            [gridOptions]="ahGridOptions"
                            [@slideInOut]="isCollapsed()">
    </ag-grid-angular>
    <ag-grid-angular #agGrid4
                            [style.height.px]="prTableHeight" 
                            [style.width.px]="prTableWidth"
                            class="ag-fresh agGridTable"  
                            [gridOptions]="prGridOptions"
                            [@slideInOut]="isCollapsed()">
    </ag-grid-angular>
    <ag-grid-angular #agGrid5 
                            [style.height.px]="prtTableHeight" 
                            [style.width.px]="prtTableWidth"
                            class="ag-fresh agGridTable" 
                            [gridOptions]="prtGridOptions"
                            [@slideInOut]="isCollapsed()">
    </ag-grid-angular> 

</div>