<div *ngIf="tableReady" [@fadeInAnimation]>
    <div class="ms-Grid">
        <div class="ms-Grid-row" style="padding:10px 0px">
            <div class="ms-Grid-col ms-u-sm3">
                <span class="ms-font-xl ms-fontWeight-semibold">{{title}}</span>
            </div>
            <div class="ms-Grid-col ms-u-9"></div>
        </div>
    </div>

    <ag-grid-angular #agGrid6 style="overflow: hidden;" 
                            [style.height.px]="tsTableHeight" 
                            [style.width.px]="tsTableWidth"
                            class="ag-fresh"  
                [gridOptions]="tsGridOptions">
    </ag-grid-angular>
    <ag-grid-angular #agGrid7 style="overflow: hidden;" 
                            [style.height.px]="atsTableHeight" 
                            [style.width.px]="atsTableWidth"
                            class="ag-fresh"  
                [gridOptions]="atsGridOptions">
    </ag-grid-angular>
    <ag-grid-angular #agGrid8 style="overflow: hidden;" 
                            [style.height.px]="rtsTableHeight" 
                            [style.width.px]="rtsTableWidth"
                            class="ag-fresh"  
                [gridOptions]="rtsGridOptions">
    </ag-grid-angular>
    <ag-grid-angular #agGrid9 style="overflow: hidden;" 
                            [style.height.px]="rtstTableHeight" 
                            [style.width.px]="rtstTableWidth"
                            class="ag-fresh" 
                [gridOptions]="rtstGridOptions">
    </ag-grid-angular>
</div>