

<div class="ms-Grid grid">
    <div class="ms-Grid-row">
            <span class="ms-font-xxl grid">Overview - {{year}}</span>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6">
            <chart-group [chartData]='groupedData'></chart-group>
        </div>
        <div class="ms-Grid-col ms-u-sm6">
            <chart-horizontal *ngIf='horizontalChartReady' [@fadeInAnimation] [chartData]='horizontalData'></chart-horizontal>
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6">
            <chart-pie *ngIf='pieChartReady' [@fadeInAnimation] [data]='pieData'></chart-pie>
        </div>
        <div class="ms-Grid-col ms-u-sm6">
            <chart-stack *ngIf='stackChartReady' [@fadeInAnimation] [chartData]='stackData'></chart-stack>
        </div>
    </div>
</div>

